/* Base Styles */
body {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow-x: hidden !important; /* Hide horizontal scrollbar */
    overflow-y: auto !important; /* Enable vertical scrollbar */
}

/* Container */
.container {
    width: 90%; /* Make container responsive */
    max-width: 1200px; /* Limit max width on larger screens */
    margin: 0 auto;
    padding-top: 5vh; /* Responsive padding */
    overflow: hidden;
}

/* Logo */
.logo {
    text-align: center;
    margin-bottom: 5vh; /* Adjust margin for responsiveness */
    position: relative;
}

.logo img {
    width: 80%; /* Make logo responsive */
    max-width: 350px; /* Limit the size */
    height: auto;
}

.logo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default; /* Prevent the pointer from changing to text selection */
    background: transparent;
    z-index: 1;
}

/* Social Media Icons */
.social-media-icons {
    position: absolute;
    top: 20px;
    right: 20px;
}

.social-media-icon {
    width: 50px; /* Adjust size as needed */
    height: auto;
    margin-right: 10px;
}

/* Header */
.header {
    text-align: center;
    margin-bottom: 5vh; /* Responsive margin */
}

.header-text {
    font-size: 5vw; /* Responsive font size */
    max-font-size: 45px; /* Limit the size on large screens */
    text-decoration: underline;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 8px;
    font-weight: 350;
    user-select: none;
}

/* Characters Section */
.characters-wrapper {
    overflow: hidden;
    padding-top: 5vh; /* Responsive padding */
    height: auto; /* Allow height to adjust naturally */
}

.characters {
    display: flex;
    flex-wrap: wrap; /* Wrap characters to new lines */
    justify-content: space-between;
}

.character {
    flex: 0 1 45%; /* Responsive width, 45% of the container */
    max-width: 300px; /* Limit the width on larger screens */
    height: auto;
    margin-bottom: 5vh; /* Responsive margin */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.character:nth-child(odd) {
    margin-top: -2vh; /* Responsive top margin */
}

.character:nth-child(even) {
    margin-top: 2vh;
}

.character img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease, transform 0.3s ease;
    filter: saturate(50%);
    user-select: none;
}

.character:hover img {
    filter: saturate(100%);
    transform: scale(1.1);
    cursor: pointer;
}

/* Pixel Sprite */
.pixel-sprite {
    position: fixed;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 10000;
}

/* Full Image Overlay */
#fullImageOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.99);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9999;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    cursor: default;
}

#fullImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#leftPixelSprite {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#rightPixelSprite {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

/* Arrows */
.arrows {
    position: absolute;
    top: calc(50% - 10px);
}

.arrow-left, .arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    cursor: pointer;
}

.arrow-left {
    border-right: 10px solid #000;
    margin-right: 10px;
}

.arrow-right {
    border-left: 10px solid #000;
    margin-left: 10px;
}

#closeButton {
    font-size: 6vw; /* Responsive font size */
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    user-select: none;
    opacity: 0;
    animation: fadeIn 0.5s 0.3s forwards;
}

/* Borders for Characters */
.character:nth-child(1) {
    border: 2px solid #652e2d;
}

.character:nth-child(2) {
    border: 2px solid #5f6b85;
}

.character:nth-child(3) {
    border: 2px solid #82392d;
}

.character:nth-child(4) {
    border: 2px solid #d66047;
}

.character:nth-child(5) {
    border: 2px solid #c6c6c6;
}

.character:nth-child(6) {
    border: 2px solid;
    border-image: linear-gradient(-45deg, #6f2234, #57426e) 1;
}

.character:nth-child(7) {
    border: 2px solid #07cc14;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Responsive Styles for Small Screens */
@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .character {
        flex: 0 1 100%; /* Full width on small screens */
        margin-right: 0;
        margin-bottom: 2vh;
    }

    .header-text {
        font-size: 7vw; /* Slightly larger font on small screens */
    }
}