body {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow-x: hidden !important; /* Hide horizontal scrollbar */
    overflow-y: auto !important; /* Enable vertical scrollbar */}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    overflow: hidden; /* Hide both vertical and horizontal scrollbars */
}

.logo {
    text-align: center;
    margin-bottom: 40px; /* Increased space between logo and characters */
    position: relative; /* Ensure relative positioning */
}

.logo img {
    width: 350px;
    height: auto;
}

.logo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default; /* Prevent the pointer from changing to text selection */
    background: transparent; /* Make the overlay transparent */
    z-index: 1; /* Ensure it sits above the logo */
}

.social-media-icons {
    position: absolute;
    top: 20px; /* Adjust distance from the top */
    right: 20px; /* Adjust distance from the right */
}

.social-media-icon {
    width: 50px; /* Adjust size as needed */
    height: auto;
    margin-right: 10px; /* Adjust margin as needed */
}

.header {
    text-align: center;
    margin-bottom: 20px; /* Adjust margin as needed */
}

.header-text {
    font-size: 45px; /* Adjust font size as needed */
    text-decoration: underline;
    text-decoration-thickness: 2px; /* Set the thickness of the underline */
    text-underline-offset: 8px;
    font-family: 'Roboto Condensed', Arial, sans-serif; /* Specify the font family */
    font-weight: 350;
}

.characters-wrapper {
    overflow: hidden; /* Hide both vertical and horizontal scrollbars */
    padding-top: 40px; /* Add padding to the top to prevent cropping */
    height: 490px; /* Increase height to accommodate the staggered characters */
}

.characters {
    display: flex;
}

.character {
    flex: 0 0 auto;
    width: 300px;
    height: 450px;
    margin-right: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.character:nth-child(odd) {
    margin-top: -20px; /* Move odd items up */
}

.character:nth-child(even) {
    margin-top: 20px; /* Move even items down */
}

.character img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease, transform 0.3s ease;
    filter: saturate(50%); /* Reduced saturation by default */
}

.character:hover img {
    filter: saturate(100%); /* Increased saturation on hover */
    transform: scale(1.1); /* Enlarge the image a bit more on hover */
}

/* New styles for full image overlay */
#fullImageOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Dark background color */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9999; /* Ensure it's on top of everything */
    cursor: pointer; /* Show pointer cursor when hovering over the overlay */
    opacity: 0;
    animation: fadeIn 0.5s forwards; /* Apply fade-in animation */
}

#fullImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#closeButton {
    font-size: 40px; /* Increase close button size */
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    user-select: none; /* Prevent text selection */
    opacity: 0;
    animation: fadeIn 0.5s 0.3s forwards; /* Apply fade-in animation with delay */
}

.progress-text {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    position: fixed;
    bottom: 4px; /* Adjusted position */
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000; /* Ensure it's above other content */
    text-shadow: -1px -1px 0 #000000,  
                  1px -1px 0 #000000,
                 -1px 1px 0 #000000,
                  1px 1px 0 #000000; /* Text outline */
    color: #fff;
}

/* Add borders with different colors to each character */
.character:nth-child(1) {
    border: 2px solid #652e2d; /* First character */
}

.character:nth-child(2) {
    border: 2px solid #5f6b85; /* Second character */
}

.character:nth-child(3) {
    border: 2px solid #82392d; /* Third character */
}

.character:nth-child(4) {
    border: 2px solid #d66047; /* Fourth character */
}

.character:nth-child(5) {
    border: 2px solid #c6c6c6; /* Fifth character */
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .character {
        width: 100%; /* Make characters full width */
        height: auto; /* Allow height to adjust according to aspect ratio */
    }

    .talent-overlay img {
        max-width: 50%; /* Adjust maximum width of overlay images */
    }
}
